.people {
  .peopleContainer {
    text-align: center;
    font-size: 38px;
    // font-weight: 500px;

    ul {
      list-style: none;

      li {
        &:hover {
          background-color: teal;
          cursor: pointer;
        }
      }
    }
  }
}
