.categories {
  .catgoriesContainer {
    display: flex;
    .catSection {
      background-color: lightblue;
      flex: 1;
      height: 100vh;
      ul {
        list-style: none;
        padding-left: 0px;

        li {
          cursor: pointer;
          text-transform: capitalize;
          padding: 5px;
          &:hover {
            background-color: teal;
          }
        }
      }
    }

    .contentSection {
      padding-top: 15px;
      flex: 5;
      text-align: center;
      font-size: 44px;
      font-weight: 500;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}
